
  /* form animation starts */
  .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #0e3721;
  /*   z-index: 1; */
    animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
 
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }

  .shippingTitle{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
    font-size: 1em;
    color: black;
  }
  
  .name {
    background-color: #ebebeb;
    color: black;
  }
  .name:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #0e3721;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }
  
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 

  .svgLoader {
    animation: spin 0.5s linear infinite;
    margin: auto;
  }
  .divLoader {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 9999; */
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  @media screen and (max-width: 600px) { 
    .form{ 
        max-width: 350px;
        
    } 
    .name{
      width: fit-content;
    }
    .name:hover{
      width: fit-content;
    }
   
    
} 
